<?xml version="1.0"?>
<launch>
  <!-- <rosparam file="$(find raspigibbon_control)/config/controller.yaml" command="load" /> -->
  <include file="$(find raspigibbon_description)/launch/display_urdf.launch" />
  <group ns="raspigibbon">
    <node name="joint_state_publisher" pkg="raspigibbon_bringup" type="rviz_joint_publisher.py" />
  </group>
</launch>
