<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find raspigibbon_description)/urdf/base.gazebo.xacro"/>
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:property name="velocity_scale_factor" value="1.0"/>
  <xacro:macro name="base_link">
    <link name="world"/> 

    <joint name="world2base" type="fixed"> 
      <parent link="world"/> 
      <child link="base_link"/> 
    </joint> 

    <link name="base_link">
      <visual>
        <geometry>
          <mesh filename="package://raspigibbon_description/meshes/dae/base_link.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://raspigibbon_description/meshes/dae/base_link.dae"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 -0.008722 0.01556 " />
        <mass value="0.060272" />
        <inertia ixx="0.000080586983" ixy="-0.000000000016" iyy="0.000042795591" ixz="0" iyz="0" izz="0.000123342393" />
      </inertial>
    </link>

    <joint name="joint0" type="fixed">
      <origin xyz="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="link0" />
    </joint>

    <link name="link0">
      <visual>
        <geometry>
          <mesh filename="package://raspigibbon_description/meshes/dae/servo1_link.dae" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://raspigibbon_description/meshes/dae/servo1_link.dae" />
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 -0.008722 0.01556 " />
        <mass value="0.022267" />
        <inertia ixx="0.000003621474" ixy="0.000000000001" iyy="0.000001983132" ixz="-0.000000000001" iyz="-0.000000215045" izz="0.000003182899" />
      </inertial>
    </link>
  </xacro:macro>
</robot>
