<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="link_gazebo" params="id">
    <gazebo reference="link${id}">
      <!-- <selfCollide>true</selfCollide> -->
      <!-- <mu1 value="0.05" /> -->
      <!-- <mu2 value="0.05" /> -->
      <mu1>0.05</mu1>
      <mu2>0.05</mu2>
    </gazebo>
  </xacro:macro>
</robot>
